#hero-pic{
    border-radius: .5em;
}

.background-image {
    background:url("../images/bg-image1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }