#hero-pic{
    border-radius: .5em;
}

body {
    background: url("bg-image1.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.content{
    background-color: aliceblue;
}