body {
    background: url("bg-image1.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.hero-pic{
    border-radius: .5em;
    margin: auto;
}

.content{
    background-color: aliceblue;
    height: 100%;
    margin: 0.8em;
}

.hero-comp{
    border-radius: .3em;
    padding: 2em;
    background-color: rgb(171, 203, 231);
}